In [1]:
'''
Python - Object oriented programming

class = varible and related methods
'''

'\nPython - Object oriented programming\n\nclass = varible and related methods \n'

In [2]:
class Book: #class Nameoftheclass

  #initializations - __init__
  '''
  Varibles that are used in different methods are initializaed
  in the __init__ method
  '''
  def __init__(self,title,quantity,author,price):
    self.title = title
    self.quantity = quantity
    self.author = author
    self.price = price

  def printtitle(self):
    print(self.title)

  def printrevnue(self):
    print(self.price*self.quantity)

  def __repr__(self): #used for print statements
    return f"Book : {self.title}, Quantity : {self.quantity}, Author : {self.author}"

In [3]:
book = Book("Moon light",10,"willams",150)#classnema(intializarions)
book.printtitle()

Moon light

In [4]:
book.printrevnue()

1500

In [5]:
book1 = Book("Moon light",10,"willams",150)#classnema(intializarions)
book2 = Book("Moon light 2",40,"willams",200)#classnema(intializarions)
book3 = Book("Moon light 3",50,"willams",250)#classnema(intializarions)

In [6]:
print(book1)

Book : Moon light, Quantity : 10, Author : willams

## Encapsulation

In [7]:
class Book: #class Nameoftheclass

  #initializations - __init__
  '''
  Varibles that are used in different methods are initializaed
  in the __init__ method
  '''
  def __init__(self,title,quantity,author,price):
    self.title = title
    self.quantity = quantity
    self.author = author
    self.price = price
    self.__discount = 0.15

  ##setter method - modify the hidden variable
  def set_discount(self,discount):
    self.__discount = discount

  ##getter methods
  def get_price(self):
    return self.price * (1-self.__discount)

  def printtitle(self):
    print(self.title)

  def printrevnue(self):
    print(self.price*self.quantity)

  def __repr__(self): #used for print statements
    return f"Book : {self.title}, Quantity : {self.quantity}, Author : {self.author}"

In [8]:
book = Book("Moon light",10,"willams",150)#classnema(intializarions)
book.title

'Moon light'

In [9]:
book.__discount

AttributeError: ignored

In [10]:
##getter and setter methods

book = Book("Two states",1,"Chetan Bhagath",200)
book.set_discount(0.2)
book.get_price()

160.0

In [11]:
'''
Super Market
(vegetables,fruits,choclates)  - price,quantity and discount

'''

'\nSuper Market\n(vegetables,fruits,choclates)  - price,quantity and discount\n\n'

## Inheritance

In [12]:
'''
Ability of the class to inherit methods or properties from another class

Class 1 - Methods - Parent Class
Class 2 - Use those methods defined in class 1 into class 2 - Child Class
'''

'\nAbility of the class to inherit methods or properties from another class\n\nClass 1 - Methods - Parent Class\nClass 2 - Use those methods defined in class 1 into class 2 - Child Class\n'

In [13]:
## PARENT CLASS

class Book:

  def __init__(self,title,quantity,author,price):
    self.title = title
    self.quantity = quantity
    self.author = author
    self.__price = price
    self.__discount = None

  def set_discount(self,discount):
    self.__discount = discount

  def get_price(self):
    return self.__price*(1-self.__discount)

  def __repr__(self):
    return f"Book : {self.title}, Quantity : {self.quantity}, Author : {self.author}"

In [14]:
## CHILD CLASS
class Novel(Book): #childclassname(parentclassname)

  def __init__(self,title,quantity,author,price):
    super().__init__(title,quantity,author,price) ##means that it will take all the initializations of the parent class

## CHILD CLASS
class Academic(Book):

  def __init__(self,title,quantity,author,price,branch): #addition attributes
    super().__init__(title,quantity,author,price)
    self.branch = branch

In [15]:
novel1 = Novel("Two States",20,"Chetan Bhagath",200)
novel1.set_discount(0.25)

In [16]:
print(novel1)

Book : Two States, Quantity : 20, Author : Chetan Bhagath

In [17]:
novel1.get_price()

150.0

In [18]:
academic1 = Academic("Two States",20,"Chetan Bhagath",200,"MBA-HR")
academic1.set_discount(0.25)

In [19]:
academic1.get_price()

150.0

In [20]:
print (academic1)

Book : Two States, Quantity : 20, Author : Chetan Bhagath

## Polymorphism

In [21]:
'''
refers to a childclass ability to adapt to a method already present in the parent class with modifications

'''

'\nrefers to a childclass ability to adapt to a method already present in the parent class with modifications\n\n'

In [22]:
## PARENT CLASS

class Book:

  def __init__(self,title,quantity,author,price):
    self.title = title
    self.quantity = quantity
    self.author = author
    self.__price = price
    self.__discount = None

  def set_discount(self,discount):
    self.__discount = discount

  def get_price(self):
    return self.__price*(1-self.__discount)

  def __repr__(self):
    return f"Book : {self.title}, Quantity : {self.quantity}, Author : {self.author}"

In [23]:
## CHILD CLASS
class Novel(Book): #childclassname(parentclassname)

  def __init__(self,title,quantity,author,price):
    super().__init__(title,quantity,author,price) ##means that it will take all the initializations of the parent class

## CHILD CLASS
class Academic(Book):

  def __init__(self,title,quantity,author,price,branch): #addition attributes
    super().__init__(title,quantity,author,price)
    self.branch = branch

  def __repr__(self):
    return f"Book : {self.title}, Quantity : {self.quantity}, Author : {self.author}, Branch : {self.branch}"

In [24]:
academic1 = Academic("Two States",20,"Chetan Bhagath",200,"MBA-HR")

In [25]:
print(academic1)

Book : Two States, Quantity : 20, Author : Chetan Bhagath, Branch : MBA-HR

In [26]:
novel1 = Novel("Two States",20,"Chetan Bhagath",200)
print(novel1)

Book : Two States, Quantity : 20, Author : Chetan Bhagath

## Abstraction

In [27]:
'''
1. Isn't directly supported by python = from abc import ABC, abstractmethod
2. If an abstract method is declared in the parent class, then evey child class should have the implementation of it.
'''

"\n1. Isn't directly supported by python = from abc import ABC, abstractmethod\n2. If an abstract method is declared in the parent class, then evey child class should have the implementation of it.\n"

In [28]:
from abc import ABC, abstractmethod

class Book(ABC):
  def __init__(self,title,quantity,author,price):
    self.title = title
    self.quantity = quantity
    self.author = author
    self.__price = price
    self.__discount = None

  def set_discount(self,discount):
    self.__discount = discount

  def get_price(self):
    return self.__price*(1-self.__discount)

  @abstractmethod #
  def __repr__(self):
    return f"Book : {self.title}, Quantity : {self.quantity}, Author : {self.author}"

In [29]:
## CHILD CLASS
class Novel(Book): #childclassname(parentclassname)

  def __init__(self,title,quantity,author,price,pages):
    super().__init__(title,quantity,author,price) ##means that it will take all the initializations of the parent class
    self.pages = pages

  def __repr__(self):
    return f"Book : {self.title}, Quantity : {self.quantity}, Author : {self.author}, Pages : {self.pages}"

In [30]:
novel1 = Novel("Two States",20,"Chetan Bhagath",200,400)
print(novel1)

Book : Two States, Quantity : 20, Author : Chetan Bhagath, Pages : 400

In [31]:
## CHILD CLASS
class Academic(Book):

  def __init__(self,title,quantity,author,price,branch): #addition attributes
    super().__init__(title,quantity,author,price)
    self.branch = branch

  def __repr__(self):
    return f"Book : {self.title}, Quantity : {self.quantity}, Author : {self.author}, Branch : {self.branch}"

In [32]:
academic1 = Academic("Two States",20,"Chetan Bhagath",200,"MBA-HR")
print(academic1)

Book : Two States, Quantity : 20, Author : Chetan Bhagath, Branch : MBA-HR

## args and kwargs

In [33]:
'''
*args and **kwargs - helps in passing varible number of arguments to a function

*args - Non Keyword Arguments
**kwargs - Keyword arguments
'''

'\n*args and **kwargs - helps in passing varible number of arguments to a function\n\n*args - Non Keyword Arguments\n**kwargs - Keyword arguments\n'

In [34]:
def myFunc(*args):
  for arg in args:
    print(arg)

In [35]:
myFunc("Hello","Welcome")

Hello
Welcome

In [36]:
def myFunc(arg1,*args):
  print(arg1)
  for arg in args:
    print(arg)

In [37]:
myFunc(1,2,3,4,9,10)

1
2
3
4
9
10

In [38]:
## kwargs - keyword arguments

def myFunc(**kwargs):
  for key,value in kwargs.items():
    print(key,value)

In [39]:
myFunc(first="Kuruba",Second="Ajay",Last="Kumar")

first Kuruba
Second Ajay
Last Kumar

In [40]:
def myFun(arg1, **kwargs):
	for key, value in kwargs.items():
		print("%s == %s" % (key, value))


# Driver code
myFun("Hi", first="Kuruba",Second="Ajay",Last="Kumar")

first == Kuruba
Second == Ajay
Last == Kumar

In [41]:
def myFun(*args, **kwargs):
    print("args: ", args)
    print("kwargs: ", kwargs)

myFun("Hello","Welcome", first="Kuruba",Second="Ajay",Last="Kumar")

args:  ('Hello', 'Welcome')
kwargs:  {'first': 'Kuruba', 'Second': 'Ajay', 'Last': 'Kumar'}

## Method Overloading

In [42]:
class Calculator:

  def __init__(self):
    pass

  def add(self,x,y):
    return x+y

  def add(self,x,y,z):
    return x+y+z

In [45]:
cal = Calculator()
cal.add(1,2) @args and kwargs

TypeError: ignored

## Method Overriding

In [49]:
class Parentclass:
  def __init__(self):
    pass
  def call_me(self):
    print("Call me Parent Class")

class Childclass(Parentclass):
  def __init__(self):
    super().__init__()
    pass

  def call_me(self):
    print("Call me Child class")
    super().call_me()

In [50]:
par = Parentclass()
par.call_me()

Call me Parent Class

In [51]:
chilclass = Childclass()
chilclass.call_me()

Call me Child class
Call me Parent Class